.card {
  background: var(--gray);
  width: 240px;
  height: 280px;
  border-radius: 7px;
  border: none;
  color: var(--secondary-color);
  transition: background 0.6s;
}

.card:hover {
  cursor: pointer;
  background: var(--blue);
  transition: background 0.6s;
}

.title {
  font-size: 18px;
  font-weight: 800;
}

.text {
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 50px;
  text-wrap: balance;
}

.divider {
  width: 100%;
}

.img {
  margin: 0;
  height: 160px;
  width: 90%;
  object-fit: cover;
  border-radius: 7px;
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
