.sidebar {
  width: 320px;
  height: 100%;
  background: var(--gray-dark);
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
  color: var(--secondary-color);
}

.hidden {
  display: none;
}

.input {
  width: 260px;
  height: 45px;
  font-size: 16px;
  border-radius: 7px;
  background: var(--gray);
  border: none;
  color: var(--secondary-color);
  padding: 10px 15px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.dropdown-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
